<button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling" style="display: block; margin-top: 175px">
    <i class="bi bi-chevron-double-right"></i>
</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 190px; top: 160px">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title" id="offcanvasScrollingLabel" style="font-size: 2rem">DANH MỤC</h6>
        <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="bi bi-chevron-double-left"></i>
        </button>
    </div>

    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                    type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"
                    style="margin-bottom: 33px; margin-top: 33px;font-size: 1.6rem;margin-left:30px">
                All Sản phẩm
            </button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                    type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"
                    style="margin-left:30px;margin-bottom: 33px;font-size: 1.6rem">
                Thêm sản phẩm
            </button>
        </div>
    </div>
</div>

<div class="tab-content" id="v-pills-tabContent">

    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
        <div style="text-align: center;"><h1> Sản phẩm </h1></div>
        <div class="container">
            <div class="row" style="margin-top: 15px; height: 1580px">
                <div class="col-md-6">
                    <div class="mb-3" style="width: 200px;display: flex">
                        <div>
                            <label for="exampleFormControlInput1" class="form-label">Sản phẩm </label>
                            <select class="form-select" aria-label="Default select example" style="width: 550px;">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-success"
                                style="margin: 20px 0px 20px 10px;height: 25px;" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop5"><i class="bi bi-plus-lg"></i>
                        </button>
                    </div>
                    <div class="mt-3" style="display: flex">
                        <div class="mb-3" style="width: 200px;display: flex">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Màu sắc </label>
                                <select class="form-select" aria-label="Default select example" style="width: 150px;">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-success"
                                    style="margin: 20px 0px 20px 10px;height: 25px;" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop4"><i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                        <div class="mb-3" style="width: 200px;display: flex">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Dòng sản phẩm</label>
                                <select class="form-select" aria-label="Default select example" style="width: 150px;">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-success"
                                    style="margin: 20px 0px 20px 10px;height: 25px;" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop3"><i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                        <div class="mb-3" style="width: 200px;display: flex">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">thương hiệu</label>
                                <select class="form-select" aria-label="Default select example" style="width: 150px;">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>

                            <button type="button" class="btn btn-success"
                                    style="margin: 20px 0px 20px 10px;height: 25px;" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop2"><i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">số lượng</label>
                        <input class="form-control" id="exampleFormControlInput1" placeholder="" ng-model="soLuongTon"/>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">giá nhập</label>
                        <input class="form-control" id="exampleFormControlInput2" placeholder="" ng-model="giaNhap"/>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">giá bán</label>
                        <input class="form-control" id="exampleFormControlInput3" placeholder="" ng-model="giaBan"/>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">trạng thái:
                        </label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                   value="0"
                                   ng-model="trangThai"/>
                            <label class="form-check-label" for="inlineRadio2">còn hàng</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                   value="1"
                                   ng-model="trangThai"/>
                            <label class="form-check-label" for="inlineRadio2">hết hàng</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">mô tả: </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                  ng-model="moTa"></textarea>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-dark mb-3" ng-click="">thêm mới</button>
                        <button class="btn btn-dark mb-3" type="button" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">thêm excel
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- <input type="file" id="file-upload"  ng-model="image"  /> -->
                    <input type="file" select-ng-files ng-model="fileArray" multiple/>
                    <div class="thumbnail" style="margin-left: 25%" ng-repeat="file in fileArray">
                        <a class="p-thumb" ng-click="upload()">
                            <img src="./img/{{file.name}}" alt="Lights" style="width: 284px; height: 345px"/>
                            <input type="text" id="input0" value="./img/{{file.name}}"
                                   style="border: white; color: white"/>
                        </a>
                    </div>
                </div>
                <div style="text-align: center;"><h1> Danh sách sản phẩm </h1></div>
                <table class="table">
                    <thead>
                    <tr style="background-color: #f0f0f0;    font-size: 1.4rem;">
                        <td>STT</td>
                        <td>Mã sản phẩm</td>
                        <td>Hình ảnh</td>
                        <td>Tên sản phẩm</td>
                        <td>Màu sắc</td>
                        <td>Dòng sản phẩm</td>
                        <td>Thương hiệu</td>
                        <td>số lượng</td>
                        <td>giá bán</td>
                        <td>giá nhập</td>
                        <td>Action</td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="pro in product">
                        <td>{{$index+1}}</td>
                        <td>{{pro.ma}}</td>
                        <td><img src="{{pro.hinhAnh}}" alt="" style="width: 90px;"/></td>
                        <td>{{pro.sanPham.ten}}</td>
                        <td>{{pro.mauSac.ten}}</td>
                        <td>{{pro.dongsp.ten}}</td>
                        <td>{{pro.thuongHieu.ten}}</td>
                        <td>{{pro.soLuongTon}}</td>
                        <td>{{pro.giaBan}}</td>
                        <td>{{pro.giaNhap}}</td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <ul class="pagination">
                        <li class="page-item" ng-repeat="pageNumber in totalPages">
                            <a class="page-link" href="" ng-click="goToPage(pageNumber)">
                                {{ pageNumber -1}}
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>

    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
         tabindex="0">
        <div class="container">
            <div class="row">
                <div class="tieu-de" style="width: 150%; height: 150px; padding: 0px 0px 0px 45px;">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin: 50px 00px 0px 400px;">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true" style="background: #ffffff; color: black;font-size: 18px;">chờ
                                xác nhận
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile"
                                    aria-selected="false" style="background: #ffffff; color: black;font-size: 18px;">
                                đang giao
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-con-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact"
                                    aria-selected="false" style="background: #ffffff; color: black;font-size: 18px;">đã
                                giao
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-tact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-huy" type="button" role="tab" aria-controls="pills-contact"
                                    aria-selected="false" style="background: #ffffff; color: black;font-size: 18px;">đã
                                hủy
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-doiTra" type="button" role="tab"
                                    aria-controls="pills-contact"
                                    aria-selected="false" style="background: #ffffff; color: black;font-size: 18px; ">
                                đổi trả
                            </button>
                        </li>

                    </ul>

                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab"
                         tabindex="0">
                        <h1 style="text-align: center">Xác nhận hóa đơn </h1>
                        <div class="row">
                            <div class="col-5">
                                <table class="table table-strip mt-3"
                                       style="    margin-top: 30px;    margin-bottom: 160px">
                                    <thead>
                                    <tr style="background-color: #f0f0f0;    font-size: 1.4rem;">
                                        <td>STT</td>
                                        <td>Mã hóa đơn</td>
                                        <td>Tên người nhận</td>
                                        <td>ngày tạo</td>
                                        <td>Tổng tiền</td>
                                        <td>Trạng thái</td>
                                        <td colspan="2">thao tác</td>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr style="   font-size: 1.4rem;" ng-repeat="hd in Bill" id="cart-q"
                                        ng-click="getProductById(hd.id)">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            {{hd.ma}}
                                        </td>
                                        <td>
                                            {{hd.tenNguoiNhan}}
                                        </td>
                                        <td>{{hd.ngayTao}}</td>
                                        <td><span> {{hd.tongTien}}</span> <sup>đ</sup>
                                        </td>
                                        <td>{{hd.trangThaiTT ==-1?"hủy"
                                            :hd.trangThaiTT ==0?"chờ xác nhận"
                                            :hd.trangThaiTT ==1?"đang giao"
                                            :hd.trangThaiTT ==2?"đã giao"
                                            :"đổi trả"}}
                                        </td>
                                        <td>
                                            <button ng-click="XacNhanHoaDon(hd.id)">Xác Nhận Đơn Hàng</button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                         tabindex="0">
                        <h1 style="text-align: center">Đang giao </h1>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-con-tab"
                         tabindex="0"><h1 style="text-align: center">Đã giao </h1>
                    </div>
                    <div class="tab-pane fade" id="pills-huy" role="tabpanel" aria-labelledby="pills-tact-tab"
                         tabindex="0">
                        <h1 style="text-align: center">Đã hủy</h1>
                    </div>
                    <div class="tab-pane fade" id="pills-doiTra" role="tabpanel" aria-labelledby="pills-disabled-tab"
                         tabindex="0">
                        <h1 style="text-align: center">Đổi trả</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="file" select-ng-files ng-model="fileArray" multiple/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel2">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="file" select-ng-files ng-model="fileArray" multiple/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel3">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="file" select-ng-files ng-model="fileArray" multiple/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel4">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="file" select-ng-files ng-model="fileArray" multiple/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel5">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="file" select-ng-files ng-model="fileArray" multiple/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>