<div class="container">
    <div class="row" style="margin-top: 170px; margin-bottom: 170px">
        <h1 style="text-align: center">Hóa Đơn</h1>
        <div class="col-5">
            <table class="table table-strip mt-3" style="    margin-top: 30px;    margin-bottom: 160px">
                <thead>
                <tr style="background-color: #f0f0f0;    font-size: 1.4rem;" >
                    <td>STT</td>
                    <td>Mã hóa đơn</td>
                    <td>Tên người nhận</td>
                    <td>ngày tạo</td>
                    <td>Tổng tiền</td>
                    <td>Trạng thái</td>
                    <td colspan="2">thao tác</td>
                </tr>
                </thead>

                <tbody>
                <tr style="   font-size: 1.4rem;" ng-repeat="hd in HoaDon" id="cart-r" ng-click="getProductById(hd.id)">
                    <td>{{$index+1}}</td>
                    <td>
                        {{hd.ma}}
                    </td>
                    <td>
                        {{hd.tenNguoiNhan}}
                    </td>
                    <td>{{hd.ngayTao}}</td>
                    <td><span> {{hd.tongTien}}</span> <sup>đ</sup>
                    </td>
                    <td>{{hd.trangThaiTT ==0?"hủy":"đang chuẩn bị hàng"}}</td>
                    <td><i class="bi bi-x" style="    font-size: 2.3rem;margin-left: 15px;"></i></td>
                </tr>

                </tbody>
            </table>

        </div>
        <div class="col-7" style="background: #f0f0f0;overflow-y: scroll; height: 500px">
            <div style="background: white;width: 100%; height: 150px;margin-top: 10px; display: flex" ng-repeat="hds in HoaDons">
                <img src="{{hds.chiTietSP.hinhAnh}}" alt=""
                     class="anh" style="    margin-top: 15px;
    height: 120px;"/>
                <div class="contes-p" style="padding: 10px;">
                    <div class="tenSP"><p style="font-size: 2.5rem;"> {{hds.chiTietSP.sanPham.ten}} </p></div>
                    <div class="pa" style="display: flex">
                        <div class="slgia" style="width: 100px;">
                            <div class="sl"><p style="font-size: 1.5rem;">Số Lượng: {{hds.soLuong}} </p></div>
                            <p style="font-size: 1.5rem;    float: left; margin-right: 5px;"> Giá: </p>  <span
                                style="font-size: 1.6rem;    float: left;">  {{hds.dongia}}</span> <sup>đ</sup>
                        </div>
                        <div class="ngayTao" style="margin-left: 290px;">
                            <p style="font-size: 1.3rem;"> Ngày Tạo:{{hds.ngayTao}} </p>
                            <input type="button" name="btn_magiamgia" value="Xem Chi Tiết" class="btn_magiamgia"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>