<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/Login.css}">
</head>
<body ng-app="myApp">
<div class="container" id="container" ng-controller="LoginController">
    <div class="form-container log-in-container">
<!--        <form  method="post">-->
<!--            <h1>Login</h1>-->
<!--            <div class="social-container">-->
<!--                <a href="#" class="social"><i class="fa fa-facebook fa-2x"></i></a>-->
<!--                <a href="/login/oauth2/code/google" class="social"><i class="fab fa fa-twitter fa-2x"></i></a>-->
<!--            </div>-->
<!--            <span>or use your account</span>-->
<!--            <input type="email" name="username" placeholder="Email" ng-model="email" />-->
<!--            <input type="password" name="password" placeholder="Password" ng-model="password"/>-->
<!--            <span   class="text-danger" style="color: red" name="error" id="error"></span>-->
<!--            <a href="#">Forgot your password?</a>-->
<!--            <button type="submit" ng-click="login()" >Log In</button>-->
<!--        </form>-->
        <h2>Login</h2>
        <a href="/oauth2/authorization/google">Login with Google</a>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>website bán đồ công nghệ</h1>

            </div>

        </div>

    </div>
</div>
<script src="../js/Login.js"></script>
</body>
</html>