* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 1.2rem;
}

ul li a {
    font-size: 1.2rem;
}
